h1 {
	color: green;
	text-decoration: underline;
}

body {
    background-color: #DBFDFF;
    font-family: 'Droid Sans';
  	font-size: 2em;
  	text-shadow: 4px #aaa;
}

li {
	list-style: circle;
}

#a {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 500px;
}

